{% extends "layout.html" %}

{% block title %}
    Change Password
{% endblock %}

{% block main %}
<style>
    .title {
        font-family: 'Squada One';font-size: 100px;
    }
    .input
    {
        border-radius: 13px;
        
    }
    #outer
    {
        width:100%;
        text-align: center;
    }
    .inner
    {
        display: inline-block;
    }
</style>
<div class="jumbotron jumbotron-fluid float-container shadow-lg" style="background-color:#eacef6;">
    <div class="container" style="text-align: center;">
        <h1 class="display-3 title">Change Password</h1>
        <p class="lead headbar">
            Type your new password twice and click Change Password.
        </p>
    </div>
</div><br><br><br><br><br><br><br><br><br>
<div class="container p-5 text">
    <form action="/change_password" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control input form-control-lg" name="password" placeholder="New Password" type="text">
        </div>
        <div class="form-group">
            <input class="form-control input form-control-lg" name="confirmation" placeholder="New Password(again)" type="text">
        </div>
        <div id="outer" class="text">
            <div class="inner"><button class="btn-grad" type="submit">Change Password</button></div>
        </div>
    </form>
</div><br><br><br><br><br><br><br><br><br>
{% endblock %}