{% extends "layout.html" %}

{% block title %}
    Editor-Edit
{% endblock %}

{% block main %}
<div class="jumbotron jumbotron-fluid float-container shadow-lg" style="background-color:#eacef6;">
    <div class="container" style="text-align: center;">
        <h1 class="display-3 title">Edit Your Quiz</h1>
        <p class="lead headbar">
            To add a new set of question, click the add button. To set the correct answer for question, click the radio button. To delete the quiz permanently, click the delete button. After you're done, click the done button. (Blanks are not allowed)
        </p>
    </div>
</div>
    <form action="/delete" method="POST">
        <input type="hidden" name="quizid" value="{{ quiz_id }}"> 
        <div class="container p-3" style="text-align: right;">
            <button type="submit" class="btn btn-outline-danger">Delete this quiz</button>
        </div>
    </form>
    <form action="/editor2" method="POST">
        <style>
            .box {
                background-color:#eacef6;
                border-radius: 25px;
                padding: 20px;
            }
            .title {
                font-family: 'Squada One';font-size: 100px;
            }
            #outer
            {
                width:100%;
                text-align: center;
            }
            .inner
            {
                display: inline-block;
            }
            .input
            {
                border-radius: 13px;
                height: 50px;
            }
        </style>
        <div class="container p-3 text" id="mainbox">
            <input type="hidden" id="count" value="{{ count }}">
            <input type="hidden" id="quiz_id" name="quiz_id" value="{{ quiz_id }}"> 
            
            <input type="hidden" id="total" name="total">
            <div class="form-group">
                <input autocomplete="off" autofocus class="form-control input form-control-lg" name="quiz_name" placeholder="Quiz name" type="text" value="{{ quiz_name }}">
            </div><br>
            {% for row in rows %}
                <div class="container whitebox box shadow-lg">
                    <p>Q{{ loop.index }}. <input name="question_name{{ loop.index }}" class="form-control input form-control-lg" placeholder="Question name" type="text" value="{{ row.question }}"></p>
                    <input type="radio" name="q{{ loop.index }}" value="A" {% if row.correct == "A" %}checked="checked"{% endif %}> A. <input name="Q{{ loop.index }}A" class="form-control input form-control-lg" placeholder="Answer A" type="text" value="{{ row.answer_a }}">
                    <input type="radio" name="q{{ loop.index }}" value="B" {% if row.correct == "B" %}checked="checked"{% endif %}> B. <input name="Q{{ loop.index }}B" class="form-control input form-control-lg" placeholder="Answer B" type="text" value="{{ row.answer_b }}">
                    <input type="radio" name="q{{ loop.index }}" value="C" {% if row.correct == "C" %}checked="checked"{% endif %}> C. <input name="Q{{ loop.index }}C" class="form-control input form-control-lg" placeholder="Answer C" type="text" value="{{ row.answer_c }}">
                    <input type="radio" name="q{{ loop.index }}" value="D" {% if row.correct == "D" %}checked="checked"{% endif %}> D. <input name="Q{{ loop.index }}D" class="form-control input form-control-lg" placeholder="Answer D" type="text" value="{{ row.answer_d }}"><br>
                    <input type="hidden" name="correct" value="{{ row.correct }}">
                </div>
                <br>
                <br>
            {% endfor %}
            
            

            

            <script>
                //<div class="container whitebox box">
                //Q1. <input class="form-control" name="question_name1" placeholder="Question name" type="text"><br>
                //<input type="radio" name="q1" value="A"> A. <input name="Q1A" class="form-control" placeholder="Answer A" type="text">
                //<input type="radio" name="q1" value="B"> B. <input name="Q1B" class="form-control" placeholder="Answer B" type="text">
                //<input type="radio" name="q1" value="C"> C. <input name="Q1C" class="form-control" placeholder="Answer C" type="text">
                //<input type="radio" name="q1" value="D"> D. <input name="Q1D" class="form-control" placeholder="Answer D" type="text"><br>
                //</div><br>
                let count = document.getElementById("count").value;
                function add() {
                    count++;
                    var mainbox = document.getElementById("mainbox");
                    var node = document.createElement("DIV");
                    mainbox.appendChild(node).setAttribute("class", "container whitebox box shadow-lg");

                    var questionbox = document.createElement("P");

                    var questionnode = document.createElement("INPUT");
                    questionnode.className = "form-control input form-control-lg";
                    questionnode.setAttribute("placeholder", "Question name");
                    questionnode.setAttribute("name", "question_name"+count+"");

                    var Aradio = document.createElement("INPUT");
                    Aradio.setAttribute("name", "q"+count+"");
                    Aradio.setAttribute("value", "A");
                    var Anode = document.createElement("INPUT");
                    Anode.className = "form-control input form-control-lg";
                    Anode.setAttribute("placeholder", "Answer A");
                    Anode.setAttribute("name", "Q"+count+"A");

                    var Bradio = document.createElement("INPUT");
                    Bradio.setAttribute("name", "q"+count+"");
                    Bradio.setAttribute("value", "B");
                    var Bnode = document.createElement("INPUT");
                    Bnode.className = "form-control input form-control-lg";
                    Bnode.setAttribute("placeholder", "Answer B");
                    Bnode.setAttribute("name", "Q"+count+"B");

                    var Cradio = document.createElement("INPUT");
                    Cradio.setAttribute("name", "q"+count+"");
                    Cradio.setAttribute("value", "C");
                    var Cnode = document.createElement("INPUT");
                    Cnode.className = "form-control input form-control-lg";
                    Cnode.setAttribute("placeholder", "Answer C");
                    Cnode.setAttribute("name", "Q"+count+"C");

                    var Dradio = document.createElement("INPUT");
                    Dradio.setAttribute("name", "q"+count+"");
                    Dradio.setAttribute("value", "D");
                    var Dnode = document.createElement("INPUT");
                    Dnode.className = "form-control input form-control-lg";
                    Dnode.setAttribute("placeholder", "Answer D");
                    Dnode.setAttribute("name", "Q"+count+"D");
                    
                    var linebreak = document.createElement("BR");
                    var Q = document.createTextNode("Q"+count+". ");
                    var A = document.createTextNode("A. ");
                    var B = document.createTextNode("B. ");
                    var C = document.createTextNode("C. ");
                    var D = document.createTextNode("D. ");
                    node.appendChild(Q);
                    node.appendChild(questionbox)

                    questionbox.appendChild(questionnode).setAttribute("type", "text");

                    node.appendChild(linebreak);
                    node.appendChild(Aradio).setAttribute("type", "radio");
                    node.appendChild(A);
                    node.appendChild(Anode).setAttribute("type", "text");
                    node.appendChild(Bradio).setAttribute("type", "radio");
                    node.appendChild(B);
                    node.appendChild(Bnode).setAttribute("type", "text");
                    node.appendChild(linebreak);
                    node.appendChild(Cradio).setAttribute("type", "radio");
                    node.appendChild(C);
                    node.appendChild(Cnode).setAttribute("type", "text");
                    node.appendChild(Dradio).setAttribute("type", "radio");
                    node.appendChild(D);
                    node.appendChild(Dnode).setAttribute("type", "text");
                    
                    node.appendChild(document.createElement("BR"));
                    mainbox.appendChild(document.createElement("BR"));
                    mainbox.appendChild(linebreak);

                    document.getElementById("total").innerHTML = ""+count+"";
                }
                $('form').submit(function(){
                    $('input#total').val(count);
                });
            </script>
        </div>
        <div id="outer" class="text">
            <div class="inner"><button class="btn-grad" type="button" onclick="add()">Add</button></div>
            <div class="inner"><button class="btn-grad" type="submit">Done</button></div>
        </div><br><br><br>
    </form>
{% endblock %}