{% extends "layout.html" %}

{% block title %}
    Searched
{% endblock %}

{% block main %}
<style>
    
    .title {
        font-family: 'Squada One'; font-size: 100px;
    }
    
</style>
<div class="jumbotron jumbotron-fluid float-container shadow-lg" style="background-color:#eacef6;">
    <div class="container" style="text-align: center;">
        <h1 class="display-3 title">Guide</h1>
        <p class="lead headbar">
            
      </p>
    </div>
</div><br><br>
<div class="container content" style="text-align: center;">
    <iframe width="908" height="511" src="https://www.youtube.com/embed/3lB5Ab6Wp08" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div><br><br><br>
{% endblock %}